@import controllers.category.CategoryForm
@import lib.model.Category
@import helper._

@(vv: model.ViewValueCategoryAdd)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)
@implicitField = @{ FieldConstructor(plainFieldConstructor.f) }
@common.Default(vv){
<div class="form">
  @form(action = controllers.category.routes.CategoryController.add()){
  @CSRF.formField
  <div class="inputs">
    <label class="inputs__name">カテゴリー名</label>
    <div class="inputs__form">@inputText(vv.categoryForm("name"))</div>
  </div>

  <div class="inputs">
    <label class="inputs__name">スラッグ</label>
    <div class="inputs__form">@inputText(vv.categoryForm("slug"), 'placeholder -> "半角英数字のみ")</div>
  </div>

  <div class="inputs">
    <label class="inputs__name">カラー</label>
    <div class= "inputs__form">
      @select(vv.categoryForm("color"), Category.colors) 
    </div>
  </div>
  <input type ="submit" value ="追加">
  <input type = "reset" value="リセット">
  }
</div>

}

