@import model._
@import lib.model.Category

@(vv: model.ViewValueCategory)(implicit flash: Flash)
@common.Default(vv){
<p class="flash">@flash.get("success").getOrElse("Wellcome!!")
<div class="categoryList">  
  @for(category <-vv.categories){
  <div class = "categoryBox">
    <div class="categoryBox__left">
    <table border="1">
    
      <tr>
        <th>カテゴリー</th>
        <th>スラッグ</th>
        <th>カラー</th>
        <th>作成日</th>
      </tr>

      <tr>
        <td>
          <span class="@category.v.color">
            <a class="categoryBox__link-category" href= "@controllers.todo.routes.TodoController.todoCategory(category.id)">
              @category.v.name
          </span>
        </td>
        <td>@category.v.slug</td>
        <td><span class="@category.v.color">@category.v.color.color</span></td>
        <td>@Format.localDataTime(category.v.updatedAt)</td>
      </tr>

    </table>
    </div>
    <div class="categoryBox__right">
      <li class="categoryBox__icon">
        <a class = "categoryBox__link" href = "@controllers.category.routes.CategoryController.edit(category.id)"><i class="far fa-edit"></i></a>
      </li>
      <li class="categoryBox__icon">
        <a class = "categoryBox__link" href = "@controllers.category.routes.CategoryController.delete(category.id)"><i class="fas fa-trash"></i></a>
      </li>
    </div>
 
  </div>

  } 

  <button class= "categoryAdd">
    <a class = "categoryAdd__link" href = "@controllers.category.routes.CategoryController.register()">カテゴリー 追加</a>
  </button>
</div>
}
