@import lib.model.Category

@(vv: model.ViewValueCategory)
@common.Default(vv){
  
  @for(category <-vv.category){
  <div class = "categoryBox">
    <p class="categoryBox__name"><span class="@category.color">
      <a class="categoryBox__link-category" href= "@controllers.category.routes.CategoryController.todoCategory(category.id.getOrElse(0))">
        @category.name</span></p>
      <div class="categoryBox__ope">
        <button><a class = "categoryBox__link" href="@controllers.category.routes.CategoryController.edit(category.id.getOrElse(0))">編集</a></button>
        <button><a class = "categoryBox__link" href="@controllers.category.routes.CategoryController.delete(category.id.getOrElse(0))">削除</a></button>
      </div>
  </div>

  } 

  <button class= "categoryAdd">
    <a class = "categoryAdd__link" href = "@controllers.category.routes.CategoryController.registar()">カテゴリー 追加</a>
  </button>

}
