@import model.SignupFormData
@import helper._
@import model._

@(vv: ViewValueSignup)(implicit messages: Messages, requestHeader: RequestHeader)
@implicitField = @{ FieldConstructor(plainFieldConstructor.f) }
@common.Default(vv){
  <div class="form">
    @form(action = controllers.user.routes.UserController.signup()){
    @CSRF.formField

      <div class="inputs">
        <label class="inputs__name">名前</label>
        <div class="inputs__form">@inputText(vv.form("name"), 'placeholder -> "名前")</div>
      </div>

      <div class="inputs">
        <label class="inputs__name">メールアドレス</label>
        <div class="inputs__form">@inputText(vv.form("email"), 'placeholder -> "メールアドレス")</div>
      </div>

      <div class="inputs">
        <label class="inputs__name">パスワード</label>
        <div class="inputs__form">@inputText(vv.form("password"), 'placeholder -> "パスワード")</div>
      </div>

      <input type="submit" value ="@vv.submit">
      <input type="reset" value="リセット">
    }
  </div>
}
