
body {
  margin:   0;
  padding:  0;
  background-color: #EEEEEE;
}

a{
text-decoration: none;
}

.header {
  height:            70px;
  background-color:  whitesmoke;
  width:             100%;
  border-bottom: solid 1px;
}

.header .header__content {
  width:      1080px;
  margin:     auto;
}

.header .header__logo {
  color:             #FFF;
  line-height:       70px;
  font-size:         20px;
  font-weight:bold;
}
.header__logo-link{
  color: #000033;
}

.header__nav{
  float: right;
  line-height:15px;
  display: flex;
  padding: 8px;
}


.header__item-todo{
  list-style: none;
  border: 1px solid;
  padding: 8px;
  margin-right: 20px;
  border-radius: 4px;
  background-color: whitesmoke;
  font-size: 16x;
}
.header__item-todo:hover{
  background-color:#99FF00;
}

.header__item-category{
  list-style: none;
  text-decoration: none;
  border: 1px solid;
  padding: 8px;
  margin-right: 20px;
  border-radius: 4px;
  background-color: whitesmoke;
  font-size: 16x;
}
.header__item-category:hover{
  background-color: #99FF00;
}
  


.header__item-category{
  color: black;
}



.main {
  width:      980px;
  margin:     50px auto;
  padding:    100px;
  background-color: #FFF;
  box-shadow: 0 0 4px gray;
}

.success-message {
  margin:      30px 0;
  text-align:  center;
}


/******* フォームのinfoを非表示に *******/
.info {
  display: none;
}
