.categoryList{
  width: 85%;
  margin:0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  .categoryBox{
    margin-top:25px;
    display: flex;

    &__left{
      //width: 800px;
      height: 80px;
    }

    &__right{
      padding-right:30px;
    }

    table{
      width: 700px;
      height: 80px;
    }
    th{
      padding: 5px;
    }
    td{
      font-size: 18px;
      padding: 5px;
    }

    &__icon{
      list-style: none;
      margin-top: 10px;
      margin-left: 20px;
    }
    &__link{
      color: black;
      font-size: 130%;
    }
    
  }
  .categoryAdd{
      width: 700px;
      height: 50px;
      border-radius: 5px;
      border:solid 3px;
      border-color:#00FF00;
      background-color:#00FF00;
      margin:30px 70px 0 0;
      &__link{
        color: white;
        font-weight: bold;
      }
  }
  .categoryAdd:hover{
    background-color:#00DD00;
  }

}
