form{
  padding-top: 20px;


  .inputs{
    margin-top:20px;
    &__name{
      width: 130px;
      height: 40px;
      margin-left:30px;
      margin-top:30px;
      font-size:20px;
      }
    &__form{
      .error{
         width: 200px;
         height: 30px;
         margin-left: 30px;
         .errors{
           color:red;
           font-weight: bolder;
         }
      }
    }
    input[type="text"]{
       width: 350px;
       height:35px;
       font-size: 15px;
       border:solid 1px;
       border-radius: 5px;
       margin:5px 0 8px 30px;
    }

    textarea{
      width: 350px;
      height: 120px;
      margin:10px 0 15px 30px;
      font-size: 15px;
      border:solid 1px;
      border-radius: 5px;
      resize: vertical;
    }
    select{
      width: 100px;
      height: 35px;
      border: solid 1px;
      border-radius: 5px;
      margin:10px 0 30px 30px;
    }
  }
    input[type="submit"]{
      width: 350px;
      height: 40px;
      border:solid 1px;
      border-radius: 5px;
      margin:10px 0 0 30px;
      cursor: pointer;
      color:#F8F8FF;
      background-color: #66CCFF;
      font-weight: bold;
    }
    input[type="submit"]:hover{
      background-color:#00CCFF;
    }
  .select{
    display: flex;
  }

}

