.header {
  width:100%;
  margin-top:20px;
  &__logo{
    margin-left:120px;
    &-link{
      color:white;
      line-height:70px;
      font-size: 30px;
      font-weight: bold;
    }
    &-link:hover{
      color:#000033;
    }
  }

  &__nav{
    float: right;
    margin-right:170px;
    line-height: 30px;
    display: flex;
  }

  &__item{
    list-style: none;
    border-color:#008080;
    background-color:#00FF00;

    padding: 3px 10px;
    margin-right: 15px;
    &-link{
      color:white;
      font-weight: bold;
      font-size: 15px;
    }
  }

  &__item:hover{
    background-color:#008080;
  }
}
