.todoBox{
  width: 85%;
  margin: 20px auto;
  height: 80px;
  border: 2px solid;
  border-color:#000033;

  &__upper{
    display: flex;
    margin-left:8px;
    height: 30px;
  }
  &__title{
    margin-right: 8px;
  }
  &__category{
    margin-right: 8px;
  }
  &__status{
    margin-right: 8px;
  }

  &__down{
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin-right:20px;
    margin-left:10px;
  }

  &__todo{
    font-size:20px;
  }

  button{
    width: 70px;
    height: 30px;
    border-color: black;
    background-color: #BAD3FF;
  }


}
