.searchForm{
  margin:0 0 35px 80px;
  &__btn{
    width: 80px;
    @include formPrimary-btn;
    background-color:#00FF00;
  }
  &__btn:hover{
    background-color:#00DD00;
  }

  &__box{
    width: 400px;
    height: 35px;
  }
}

.todoBox{
  width: 85%;
  margin: 20px auto;
  border: 1.5px solid;
  border-color:#000033;

  &__upper{
    display: flex;
    margin-left:8px;
    height: 30px;
  }
  &__title{
    margin-right: 8px;
  }
  &__category{
    margin-right: 8px;
  }
  &__status{
    margin-right: 8px;
    &-link:hover{
      color:blue;
    }
  }

  &__time{
    margin-right:8px;
  }

  &__deadLine{
    margin-left:8px;
  }

  &__down{
    display: flex;
    justify-content: space-between;
    margin:0 20px 0 10px;
  }
  &__todo{
    font-size: 20px;
  }
  &__ope{
    margin: 20px 20px 0 20px;
  }
  &__link{
    color:black;
    font-size: 130%;
    margin-right:6px;
  }

}

button{
  width: 80px;
  height: 40px;
  background-color:#66CCFF;
  border: solid 1px;
  border-radius: 5px;
  border-color:white;
}
button:hover{
  background-color:#00CCFF;
}


