.searchForm{
  margin-bottom:35px;
  &__btn{
    width: 80px;
    @include formPrimary-btn;
    background-color:#00FF00;
  }
  &__btn:hover{
    background-color:#00DD00;
  }

  &__box{
    width: 400px;
    height: 35px;
  }
}

.todoBox{
  width: 1080x;
  margin: 20px auto;
  display: flex;

  &__left{
    width: 85%;
    border: 1.5px solid;
    border-color: #000033;
  }
  &__right{
    margin-left:20px;
  }
  

  &__upper{
    display: flex;
    margin-left:8px;
    height: 30px;
  }
  &__title{
    margin-right: 8px;
  }
  &__category{
    margin-right: 8px;
  }
  &__status{
    margin-right: 8px;
    &-link:hover{
      color:blue;
    }
  }

  &__time{
    margin-right:8px;
  }

  &__deadLine{
    margin-left:8px;
  }

  &__down{
    display: flex;
    justify-content: space-between;
    margin:0 20px 0 10px;
  }
  &__todo{
    font-size: 20px;
  }

  &__icon{
    margin-top:15px;
    list-style: none;
  }
  &__link{
    color:black;
    font-size: 130%;
    margin-top:60px;
  }

}



