@import controllers.todo.TodoForm
@import helper._

@(vv: model.ViewValueTodoForm)(implicit requestHeader: RequestHeader, messagesPrivider: MessagesProvider)


@common.Default(vv){

    @form(action = controllers.todo.routes.TodoController.add()){
    @CSRF.formField
    @inputText(vv.todoForm("title"), Symbol("_label") -> "タイトル")
    @inputText(vv.todoForm("categoryId"), '_label -> "カテゴリー")
    @textarea(vv.todoForm("content"), Symbol("_label") -> "内容")
    @select(vv.todoForm("state"), options = options(("0" -> "未着手")),
    '_label -> "進捗")
    <input type="submit" value= "追加">
  }



}





