@import controllers.todo.TodoForm
@import helper._

@(id: Long,  vv: model.ViewValueTodoForm)(implicit requestHeader: RequestHeader, messagesPrivider: MessagesProvider)

@common.Default(vv){

    @form(action = controllers.todo.routes.TodoController.update(id)){
    @CSRF.formField
    @inputText(vv.todoForm("title"), '_label -> "タイトル")
    @inputText(vv.todoForm("categoryId"), '_label -> "カテゴリー")
    @textarea(vv.todoForm("content"), '_label -> "内容")
    @inputText(vv.todoForm("state"),'_label -> "ステータス")
    <input type="submit" value= "更新">
  }



}



