@import controllers.todo.TodoForm
@import lib.model.Category
@import helper._

@(id: Long,  vv: model.ViewValueTodoForm, categories: Seq[Category])(implicit requestHeader: RequestHeader, messagesPrivider: MessagesProvider)

@common.Default(vv){

    @form(action = controllers.todo.routes.TodoController.update(id)){
    @CSRF.formField
    @inputText(vv.todoForm("title"), '_label -> "タイトル")
    @select(vv.todoForm("categoryId"),
      categories.map(_.id.get.toString) zip categories.map(_.name),
      '_label -> "カテゴリー")
    @textarea(vv.todoForm("content"), '_label -> "内容")
    @select(vv.todoForm("state"), 
      Seq(("0" -> "未着手"), ("1" -> "進行中"), ("2" -> "完了")),
      '_label -> "進捗") 
    <input type="submit" value= "更新">
  }



}



