@* コメントはこう書く *@
@import helper._
@import model._
@import lib.model.{ Todo, Category }

@(vv: model.ViewValueTodo)(implicit flash: Flash)
@common.Default(vv){
<p class="flash">@flash.get("success").getOrElse("Welcome!!")</p>
<div class="searchForm">
@form(action = controllers.todo.routes.TodoController.search()){
  <input type = "search" class="searchForm__box" name="keyword" placeholder="タイトル 本文で検索">  
  <input type = "submit" class="searchForm__btn" value="検索">
}
</div>

<div class = "todoList">


@for(todo <- vv.todos){
    <div class="todoBox">
      <div class="todoBox__upper">
        <p class="todoBox__title">タイトル: @todo.title | </p>        

        <p class= "todoBox__category">カテゴリー: 
        <a class="@todo.categoryColor"
          href= "@controllers.todo.routes.TodoController.todoCategory(todo.categoryId)">
          @todo.categoryName.getOrElse("未設定")</a> | 
        </p> 
        <p class="todoBox__status">進捗: 
          <a class="todoBox__status-link" href="@controllers.todo.routes.TodoController.listOfState(todo.state.code.toInt)"> @todo.state.name
          </a> |
        </p> 

        <p class="todoBox__date">作成・更新日: @Format.localDataTime(todo.updatedAt) | </p>
        <p class="todoBox__deadLine">期日: @Format.localDate(todo.deadline)</p>
    </div>

      <div class="todoBox__down">
        <p class="todoBox__todo">@Html(todo.content.replaceAll("(\r\n|\r|\n)","<br>"))</p>
        <ul class="todoBox__ope">
          @*<button><a class = "todoBox__link" href = "@controllers.todo.routes.TodoController.edit(todo.id)">編集</a></button>*@
          <a class = "todoBox__link" href = "@controllers.todo.routes.TodoController.edit(todo.id)"><i class="far fa-edit"></i></a>
          @*<button><a class = "todoBox__link" href = "@controllers.todo.routes.TodoController.delete(todo.id)">削除</a></button>*@
          <a class = "todoBox__link" href = "@controllers.todo.routes.TodoController.delete(todo.id)"><i class="fas fa-trash"></i></a>
        </ul>
      </div>

    </div>
}
</div>
  
  

}
